/* line 1, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 26, ../scss/_variable.scss */
.row {
  width: 100%; }
  /* line 28, ../scss/_variable.scss */
  .row:after {
    display: block;
    content: '';
    clear: both; }

/* line 33, ../scss/_variable.scss */
.show {
  display: block; }

/* line 37, ../scss/_variable.scss */
.hide {
  display: none; }

/* line 2, ../scss/_grid.scss */
.col {
  float: left; }

/* line 7, ../scss/_grid.scss */
.col1 {
  width: 8.3333333333%; }

/* line 10, ../scss/_grid.scss */
.offset1 {
  margin-left: 8.3333333333%; }

/* line 7, ../scss/_grid.scss */
.col2 {
  width: 16.6666666667%; }

/* line 10, ../scss/_grid.scss */
.offset2 {
  margin-left: 16.6666666667%; }

/* line 7, ../scss/_grid.scss */
.col3 {
  width: 25%; }

/* line 10, ../scss/_grid.scss */
.offset3 {
  margin-left: 25%; }

/* line 7, ../scss/_grid.scss */
.col4 {
  width: 33.3333333333%; }

/* line 10, ../scss/_grid.scss */
.offset4 {
  margin-left: 33.3333333333%; }

/* line 7, ../scss/_grid.scss */
.col5 {
  width: 41.6666666667%; }

/* line 10, ../scss/_grid.scss */
.offset5 {
  margin-left: 41.6666666667%; }

/* line 7, ../scss/_grid.scss */
.col6 {
  width: 50%; }

/* line 10, ../scss/_grid.scss */
.offset6 {
  margin-left: 50%; }

/* line 7, ../scss/_grid.scss */
.col7 {
  width: 58.3333333333%; }

/* line 10, ../scss/_grid.scss */
.offset7 {
  margin-left: 58.3333333333%; }

/* line 7, ../scss/_grid.scss */
.col8 {
  width: 66.6666666667%; }

/* line 10, ../scss/_grid.scss */
.offset8 {
  margin-left: 66.6666666667%; }

/* line 7, ../scss/_grid.scss */
.col9 {
  width: 75%; }

/* line 10, ../scss/_grid.scss */
.offset9 {
  margin-left: 75%; }

/* line 7, ../scss/_grid.scss */
.col10 {
  width: 83.3333333333%; }

/* line 10, ../scss/_grid.scss */
.offset10 {
  margin-left: 83.3333333333%; }

/* line 7, ../scss/_grid.scss */
.col11 {
  width: 91.6666666667%; }

/* line 10, ../scss/_grid.scss */
.offset11 {
  margin-left: 91.6666666667%; }

/* line 7, ../scss/_grid.scss */
.col12 {
  width: 100%; }

/* line 10, ../scss/_grid.scss */
.offset12 {
  margin-left: 100%; }

@media (min-width: 710px) {
  /* line 21, ../scss/_grid.scss */
  .colM1 {
    width: 8.3333333333%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM1 {
    margin-left: 8.3333333333%; }

  /* line 21, ../scss/_grid.scss */
  .colM2 {
    width: 16.6666666667%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM2 {
    margin-left: 16.6666666667%; }

  /* line 21, ../scss/_grid.scss */
  .colM3 {
    width: 25%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM3 {
    margin-left: 25%; }

  /* line 21, ../scss/_grid.scss */
  .colM4 {
    width: 33.3333333333%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM4 {
    margin-left: 33.3333333333%; }

  /* line 21, ../scss/_grid.scss */
  .colM5 {
    width: 41.6666666667%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM5 {
    margin-left: 41.6666666667%; }

  /* line 21, ../scss/_grid.scss */
  .colM6 {
    width: 50%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM6 {
    margin-left: 50%; }

  /* line 21, ../scss/_grid.scss */
  .colM7 {
    width: 58.3333333333%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM7 {
    margin-left: 58.3333333333%; }

  /* line 21, ../scss/_grid.scss */
  .colM8 {
    width: 66.6666666667%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM8 {
    margin-left: 66.6666666667%; }

  /* line 21, ../scss/_grid.scss */
  .colM9 {
    width: 75%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM9 {
    margin-left: 75%; }

  /* line 21, ../scss/_grid.scss */
  .colM10 {
    width: 83.3333333333%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM10 {
    margin-left: 83.3333333333%; }

  /* line 21, ../scss/_grid.scss */
  .colM11 {
    width: 91.6666666667%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM11 {
    margin-left: 91.6666666667%; }

  /* line 21, ../scss/_grid.scss */
  .colM12 {
    width: 100%; }

  /* line 25, ../scss/_grid.scss */
  .offsetM12 {
    margin-left: 100%; } }
@media (min-width: 1000px) {
  /* line 33, ../scss/_grid.scss */
  .colL1 {
    width: 8.3333333333%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL1 {
    margin-left: 8.3333333333%; }

  /* line 33, ../scss/_grid.scss */
  .colL2 {
    width: 16.6666666667%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL2 {
    margin-left: 16.6666666667%; }

  /* line 33, ../scss/_grid.scss */
  .colL3 {
    width: 25%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL3 {
    margin-left: 25%; }

  /* line 33, ../scss/_grid.scss */
  .colL4 {
    width: 33.3333333333%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL4 {
    margin-left: 33.3333333333%; }

  /* line 33, ../scss/_grid.scss */
  .colL5 {
    width: 41.6666666667%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL5 {
    margin-left: 41.6666666667%; }

  /* line 33, ../scss/_grid.scss */
  .colL6 {
    width: 50%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL6 {
    margin-left: 50%; }

  /* line 33, ../scss/_grid.scss */
  .colL7 {
    width: 58.3333333333%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL7 {
    margin-left: 58.3333333333%; }

  /* line 33, ../scss/_grid.scss */
  .colL8 {
    width: 66.6666666667%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL8 {
    margin-left: 66.6666666667%; }

  /* line 33, ../scss/_grid.scss */
  .colL9 {
    width: 75%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL9 {
    margin-left: 75%; }

  /* line 33, ../scss/_grid.scss */
  .colL10 {
    width: 83.3333333333%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL10 {
    margin-left: 83.3333333333%; }

  /* line 33, ../scss/_grid.scss */
  .colL11 {
    width: 91.6666666667%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL11 {
    margin-left: 91.6666666667%; }

  /* line 33, ../scss/_grid.scss */
  .colL12 {
    width: 100%; }

  /* line 37, ../scss/_grid.scss */
  .offsetL12 {
    margin-left: 100%; } }
/* line 10, ../scss/style.scss */
body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh; }

/* line 17, ../scss/style.scss */
:target {
  padding-top: 100px;
  position: relative; }

/* line 24, ../scss/style.scss */
.landing .logo {
  height: 8vh;
  background-color: #231f20;
  color: #eaeaea;
  text-align: center;
  padding: 10px; }
  /* line 30, ../scss/style.scss */
  .landing .logo img {
    display: none;
    width: 100%; }
/* line 36, ../scss/style.scss */
.landing .section {
  height: 21vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  /* line 44, ../scss/style.scss */
  .landing .section a {
    text-decoration-line: none; }
  /* line 47, ../scss/style.scss */
  .landing .section h3 {
    color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 45px;
    text-shadow: 2px 2px #231f20;
    text-transform: uppercase;
    text-align: center; }
  /* line 56, ../scss/style.scss */
  .landing .section i {
    display: none; }
/* line 61, ../scss/style.scss */
.landing .cafeSection {
  background-image: url("../img/coffee.jpg"); }
/* line 65, ../scss/style.scss */
.landing .barSection {
  background-image: url("../img/bar.jpg"); }
/* line 70, ../scss/style.scss */
.landing .roomSection {
  background-image: url("../img/room-service-pink.jpg"); }
/* line 74, ../scss/style.scss */
.landing .restaurantSection {
  background-image: url("../img/resta.jpg"); }
/* line 78, ../scss/style.scss */
.landing .tagLine {
  height: 8vh;
  background-color: #ad974f;
  color: white;
  text-align: center;
  padding: 10px;
  text-transform: uppercase; }

/* line 88, ../scss/style.scss */
.headerBg {
  background-color: #231f20;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2; }

/* line 95, ../scss/style.scss */
.header {
  margin: 0 auto;
  height: 50px; }
  /* line 99, ../scss/style.scss */
  .header .textLogoMobile a {
    text-decoration-line: none; }
  /* line 102, ../scss/style.scss */
  .header .textLogoMobile h1 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    color: #eaeaea;
    padding-top: 5px; }
  /* line 111, ../scss/style.scss */
  .header .billIcon a {
    text-decoration-line: none; }

/* line 117, ../scss/style.scss */
.hamburgerNav, .billIcon {
  height: 50px;
  text-align: center;
  padding: 10px 0; }
  /* line 121, ../scss/style.scss */
  .hamburgerNav i, .billIcon i {
    font-size: 30px;
    color: #eaeaea; }

/* line 131, ../scss/style.scss */
.hamburgerList {
  z-index: 20;
  display: none;
  position: fixed;
  top: 50px; }
  /* line 137, ../scss/style.scss */
  .hamburgerList ul li {
    background-color: #ad974f;
    padding: 10px; }
    /* line 140, ../scss/style.scss */
    .hamburgerList ul li a {
      text-decoration-line: none; }
      /* line 142, ../scss/style.scss */
      .hamburgerList ul li a .textNavList {
        font-size: 25px;
        font-weight: 300;
        color: #eaeaea;
        padding-left: 30px; }
      /* line 148, ../scss/style.scss */
      .hamburgerList ul li a i {
        display: none; }
  /* line 153, ../scss/style.scss */
  .hamburgerList ul::after {
    content: '';
    display: block;
    clear: both; }

/* line 162, ../scss/style.scss */
.menuNav {
  padding: 0 5px;
  margin: 0 auto;
  background-color: #ad974f;
  height: 40px;
  position: fixed;
  top: 50px;
  z-index: 10; }
  /* line 170, ../scss/style.scss */
  .menuNav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 5px;
    width: 100%; }
    /* line 176, ../scss/style.scss */
    .menuNav ul li {
      float: left;
      list-style: none;
      margin: auto; }
      /* line 180, ../scss/style.scss */
      .menuNav ul li a {
        padding-top: 10px;
        font-size: 25px;
        font-weight: 300;
        color: #eaeaea;
        text-decoration-line: none; }
        /* line 186, ../scss/style.scss */
        .menuNav ul li a:active {
          font-weight: bold;
          text-shadow: 2px 2px 2px #000; }
    /* line 192, ../scss/style.scss */
    .menuNav ul::after {
      content: '';
      display: block;
      clear: both; }

/* line 200, ../scss/style.scss */
.notice {
  width: 100%;
  background-color: #eaeaea;
  position: fixed;
  justify-content: space-around;
  top: 90px;
  display: flex;
  z-index: 3; }
  /* line 208, ../scss/style.scss */
  .notice h5 {
    font-weight: 200; }

/* line 213, ../scss/style.scss */
.pageContainer {
  background-color: #eaeaea;
  margin-bottom: 30px;
  margin-top: 100px;
  padding: 10px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center; }
  /* line 222, ../scss/style.scss */
  .pageContainer .logoText {
    display: none; }
  /* line 225, ../scss/style.scss */
  .pageContainer h5 {
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px; }
  /* line 231, ../scss/style.scss */
  .pageContainer .billBox {
    border-top: 2px dotted #231f20;
    border-bottom: 2px dotted #231f20;
    margin: 10px 0;
    padding: 10px 0; }
    /* line 236, ../scss/style.scss */
    .pageContainer .billBox .itemLine {
      margin: 8px 0; }
      /* line 238, ../scss/style.scss */
      .pageContainer .billBox .itemLine p {
        font-size: 20px; }
      /* line 241, ../scss/style.scss */
      .pageContainer .billBox .itemLine .itemName {
        text-align: left; }
  /* line 247, ../scss/style.scss */
  .pageContainer .total .subtotal, .pageContainer .total .subPrice {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400; }
  /* line 253, ../scss/style.scss */
  .pageContainer .total .subtotal h2 {
    text-align: left;
    padding-left: 10px; }
  /* line 259, ../scss/style.scss */
  .pageContainer .total .subPrice h2 {
    text-align: right;
    padding-right: 10px; }
  /* line 266, ../scss/style.scss */
  .pageContainer .btnGroup {
    display: flex;
    justify-content: space-around;
    margin-top: 100px; }
    /* line 270, ../scss/style.scss */
    .pageContainer .btnGroup .billBtn {
      width: 200px;
      background-color: #231f20;
      display: inline-block;
      cursor: pointer;
      color: #eaeaea;
      ffont-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: bold;
      padding: 5px 30px;
      text-decoration: none; }
      /* line 281, ../scss/style.scss */
      .pageContainer .btnGroup .billBtn a {
        text-decoration-line: none;
        color: #eaeaea; }
  /* line 289, ../scss/style.scss */
  .pageContainer .menuSort p {
    color: #231f20;
    font-family: cursive;
    font-size: 30px; }
  /* line 296, ../scss/style.scss */
  .pageContainer .menuInfo .selection {
    display: none; }
  /* line 300, ../scss/style.scss */
  .pageContainer .menuInfo .menuTitle h2 {
    font-weight: 400;
    padding-bottom: 10px; }
  /* line 304, ../scss/style.scss */
  .pageContainer .menuInfo .menuTitle h3 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; }
  /* line 310, ../scss/style.scss */
  .pageContainer .menuInfo .ingrediants {
    padding-bottom: 10px;
    padding-top: 5px; }
    /* line 313, ../scss/style.scss */
    .pageContainer .menuInfo .ingrediants h5 {
      text-align: left;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300; }
  /* line 320, ../scss/style.scss */
  .pageContainer i {
    font-size: 30px;
    margin-top: 15px; }

/* line 326, ../scss/style.scss */
.footer {
  position: fixed;
  bottom: 0;
  background-color: #ad974f;
  height: 50px;
  width: 100%; }
  /* line 332, ../scss/style.scss */
  .footer h1 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: #eaeaea;
    padding-top: 5px; }
  /* line 339, ../scss/style.scss */
  .footer .footerBtn {
    color: #eaeaea;
    margin-top: 10px; }
  /* line 343, ../scss/style.scss */
  .footer .leftBtn {
    float: left;
    margin-left: 10px; }
  /* line 347, ../scss/style.scss */
  .footer .rightBtn {
    float: right;
    margin-right: 10px; }

/* line 353, ../scss/style.scss */
.callWaiter {
  position: fixed;
  bottom: 0;
  background-color: #ad974f;
  height: 50px;
  width: 100%; }
  /* line 359, ../scss/style.scss */
  .callWaiter h2 {
    text-align: center;
    color: #eaeaea;
    margin-top: 5px;
    font-size: 30px;
    text-shadow: 1px 1px #231f20; }

/* line 368, ../scss/style.scss */
.billBar {
  display: none; }

/* line 374, ../scss/style.scss */
.billContainer {
  background-color: #eaeaea;
  padding: 10px;
  height: 100vh;
  overflow: hidden;
  text-align: center; }
  /* line 380, ../scss/style.scss */
  .billContainer .logoText {
    display: none; }
  /* line 383, ../scss/style.scss */
  .billContainer h5 {
    font-size: 15px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 10px; }
  /* line 390, ../scss/style.scss */
  .billContainer .billBox {
    border-top: 1px dotted #231f20;
    border-bottom: 1px dotted #231f20;
    padding-top: 30px;
    padding-bottom: 100px; }
    /* line 396, ../scss/style.scss */
    .billContainer .billBox .itemLine p {
      font-size: 20px;
      font-weight: 400;
      margin: 5px 0; }
    /* line 401, ../scss/style.scss */
    .billContainer .billBox .itemLine .itemName {
      text-align: left;
      padding-left: 10px; }
  /* line 408, ../scss/style.scss */
  .billContainer .total h2 {
    font-weight: 600; }
  /* line 411, ../scss/style.scss */
  .billContainer .total .left {
    float: left;
    padding: 10px; }
  /* line 415, ../scss/style.scss */
  .billContainer .total .right {
    float: right;
    padding: 10px; }
  /* line 422, ../scss/style.scss */
  .billContainer .splitTotal h2 {
    font-weight: 500; }
  /* line 425, ../scss/style.scss */
  .billContainer .splitTotal .left {
    float: left;
    padding: 10px; }
  /* line 429, ../scss/style.scss */
  .billContainer .splitTotal .right {
    float: right;
    padding: 10px; }
  /* line 435, ../scss/style.scss */
  .billContainer .btnGroup {
    display: flex;
    justify-content: center; }
    /* line 438, ../scss/style.scss */
    .billContainer .btnGroup .billBtn {
      width: 200px;
      background-color: #231f20;
      display: inline-block;
      font-family: 'Montserrat',sans-serif;
      font-size: 20px;
      font-weight: 400;
      padding: 10px; }
      /* line 446, ../scss/style.scss */
      .billContainer .btnGroup .billBtn a {
        text-decoration-line: none;
        color: #eaeaea; }
  /* line 452, ../scss/style.scss */
  .billContainer .borderline {
    border-top: 1px dotted #231f20;
    border-bottom: 1px dotted #231f20; }
  /* line 456, ../scss/style.scss */
  .billContainer .totalBox {
    padding: 10px 0; }
    /* line 458, ../scss/style.scss */
    .billContainer .totalBox .left {
      text-align: left;
      margin-left: 10px; }
    /* line 462, ../scss/style.scss */
    .billContainer .totalBox .right {
      text-align: right;
      margin-right: 10px; }
  /* line 469, ../scss/style.scss */
  .billContainer .payMethodBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px; }
    /* line 475, ../scss/style.scss */
    .billContainer .payMethodBtn .methodBtn {
      background: linear-gradient(#ad974f, #deb887, #ad974f);
      border-radius: 10px;
      width: 250px;
      height: 60px;
      margin: 10px 0;
      padding-top: 15px; }
      /* line 482, ../scss/style.scss */
      .billContainer .payMethodBtn .methodBtn a {
        text-decoration-line: none;
        color: #eaeaea;
        font-size: 25px;
        font-weight: 400;
        font-family: 'Montserrat',sans-serif;
        text-transform: uppercase;
        text-shadow: 2px 1px grey; }
      /* line 491, ../scss/style.scss */
      .billContainer .payMethodBtn .methodBtn:active {
        box-shadow: 2px 2px grey; }

/* line 501, ../scss/style.scss */
#payWay {
  display: none;
  position: absolute;
  top: 250px;
  left: 15%;
  transform: rotateX(-50%);
  width: 100px; }
  @media screen and (min-width: 710px) {
    /* line 501, ../scss/style.scss */
    #payWay {
      top: 400px;
      left: 45%; } }
  /* line 513, ../scss/style.scss */
  #payWay .popupPay {
    background-color: #231f20;
    width: 300px;
    height: 150px; }
    /* line 519, ../scss/style.scss */
    #payWay .popupPay .split a {
      text-decoration-line: none; }
      /* line 521, ../scss/style.scss */
      #payWay .popupPay .split a input {
        margin-top: 20px;
        margin-left: 50px;
        background-color: #ad974f;
        width: 200px;
        height: 50px;
        color: #231f20;
        padding-top: 5px;
        font-size: 25px;
        font-weight: bold;
        text-align: center; }
    /* line 536, ../scss/style.scss */
    #payWay .popupPay .all input {
      margin-top: 10px;
      margin-bottom: 15px;
      margin-left: 50px;
      background-color: #ad974f;
      width: 200px;
      height: 50px;
      color: #231f20;
      padding-top: 5px;
      font-size: 25px;
      font-weight: bold;
      text-align: center; }

/* line 553, ../scss/style.scss */
#tipBox {
  display: none;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%); }
  /* line 559, ../scss/style.scss */
  #tipBox .popupTip {
    background-color: #231f20;
    width: 300px;
    height: 150px; }
    /* line 563, ../scss/style.scss */
    #tipBox .popupTip p {
      font-size: 30px;
      padding-top: 20px;
      color: #eaeaea;
      text-align: center; }
    /* line 569, ../scss/style.scss */
    #tipBox .popupTip .dollar {
      margin-top: 10px;
      display: flex; }
      /* line 572, ../scss/style.scss */
      #tipBox .popupTip .dollar input {
        height: 40px;
        width: 150px;
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold; }
      /* line 579, ../scss/style.scss */
      #tipBox .popupTip .dollar .addBtn {
        margin-left: 30px;
        background-color: #ad974f;
        width: 70px;
        height: 40px;
        color: #231f20;
        padding-top: 5px;
        font-size: 25px;
        font-weight: bold;
        text-align: center; }

/* line 599, ../scss/style.scss */
.item {
  position: relative; }
  /* line 601, ../scss/style.scss */
  .item .popup {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    bottom: 0; }
    /* line 608, ../scss/style.scss */
    .item .popup i {
      color: #ad974f; }
    @media screen and (min-width: 710px) {
      /* line 601, ../scss/style.scss */
      .item .popup {
        display: none !important; } }
  /* line 615, ../scss/style.scss */
  .item .weird {
    height: 60%; }

@media screen and (min-width: 710px) {
  /* line 627, ../scss/style.scss */
  body {
    background-image: url("../img/bg.jpg"); }

  /* line 631, ../scss/style.scss */
  .landing {
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center; }
    /* line 637, ../scss/style.scss */
    .landing .center {
      width: 80%;
      margin: auto; }
    /* line 641, ../scss/style.scss */
    .landing .logo {
      height: auto;
      padding: 0; }
      /* line 644, ../scss/style.scss */
      .landing .logo h1 {
        display: none; }
      /* line 647, ../scss/style.scss */
      .landing .logo img {
        display: block; }
    /* line 652, ../scss/style.scss */
    .landing .icons {
      padding-left: 5px; }
      /* line 654, ../scss/style.scss */
      .landing .icons .col {
        padding: 5px; }
        /* line 658, ../scss/style.scss */
        .landing .icons .col .section {
          border-radius: 10px; }
          /* line 660, ../scss/style.scss */
          .landing .icons .col .section i {
            font-size: 100px;
            color: #eaeaea; }
    /* line 668, ../scss/style.scss */
    .landing .section:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
    /* line 673, ../scss/style.scss */
    .landing .section {
      height: auto;
      width: 100%;
      background-image: none !important;
      background-color: #ad974f;
      justify-content: center; }
      /* line 679, ../scss/style.scss */
      .landing .section h3 {
        display: none; }
      /* line 682, ../scss/style.scss */
      .landing .section i {
        display: block; }
    /* line 687, ../scss/style.scss */
    .landing .tagLine {
      display: none; }

  /* line 692, ../scss/style.scss */
  .header {
    display: none; }

  /* line 697, ../scss/style.scss */
  .hamburgerList {
    width: 100px;
    height: 100%;
    top: 0;
    display: block;
    content: '';
    clear: both; }
    /* line 702, ../scss/style.scss */
    .hamburgerList ul {
      height: 100%; }
      /* line 704, ../scss/style.scss */
      .hamburgerList ul li {
        background-color: #231f20;
        height: 16.6666666667%;
        list-style: none; }
        /* line 709, ../scss/style.scss */
        .hamburgerList ul li a i {
          display: block;
          color: #eaeaea;
          font-size: 65px;
          text-align: center;
          padding-top: 50px; }
    /* line 719, ../scss/style.scss */
    .hamburgerList .textNavList {
      display: none; }

  /* line 723, ../scss/style.scss */
  .menuNav {
    top: 0;
    margin-left: 100px; }

  /* line 727, ../scss/style.scss */
  .notice {
    width: 75%;
    left: 100px;
    top: 40px; }

  /* line 733, ../scss/style.scss */
  .footer {
    width: 75%;
    margin-left: 100px;
    height: 40px; }

  /* line 739, ../scss/style.scss */
  .billBar {
    width: 100px;
    display: block;
    height: 100%;
    background-color: #ad974f;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4; }
    /* line 748, ../scss/style.scss */
    .billBar a {
      text-decoration-line: none; }
      /* line 750, ../scss/style.scss */
      .billBar a h2, .billBar a i {
        color: #eaeaea;
        width: 100vh;
        transform-origin: left;
        margin-top: -50%; }
      /* line 757, ../scss/style.scss */
      .billBar a h2 {
        font-family: cursive;
        font-size: 30px;
        transform: translate(50px, 45vh) rotate(90deg); }
      /* line 762, ../scss/style.scss */
      .billBar a i {
        font-size: 50px;
        transform: translate(50px, 35vh) rotate(90deg); }

  /* line 771, ../scss/style.scss */
  .pageContainer {
    margin-top: 50px;
    margin-left: 100px;
    height: 100vh;
    max-width: 75%; }
    /* line 776, ../scss/style.scss */
    .pageContainer h3 {
      font-size: 25px; }
    /* line 779, ../scss/style.scss */
    .pageContainer i {
      display: inline;
      font-size: 25px;
      color: #ad974f;
      float: right;
      padding: 0 5px; }
    /* line 787, ../scss/style.scss */
    .pageContainer .menuInfo .selection {
      display: block; }

  /* line 794, ../scss/style.scss */
  .billContainer {
    overflow-y: scroll;
    margin-left: 100px;
    height: 100vh;
    max-width: 75%;
    padding: 0 40px; }
    /* line 800, ../scss/style.scss */
    .billContainer .logoText {
      display: block;
      padding-top: 100px;
      color: #231f20; }
    /* line 807, ../scss/style.scss */
    .billContainer .billBox .itemLine p {
      font-size: 25px;
      font-weight: 300; }

  /* line 815, ../scss/style.scss */
  #tipBox {
    top: 400px; }

  /* line 818, ../scss/style.scss */
  #payWay {
    top: 400px;
    left: 45%; }

  /* line 823, ../scss/style.scss */
  .callWaiter {
    display: none; } }
@media screen and (min-width: 1000px) {
  /* line 830, ../scss/style.scss */
  .landing {
    max-width: 930px; }

  /* line 833, ../scss/style.scss */
  .menuNav, .footer, .pageContainer {
    margin-left: 120px; }

  /* line 836, ../scss/style.scss */
  .notice {
    left: 120px; }

  /* line 844, ../scss/style.scss */
  .hamburgerList ul li a i {
    padding-top: 30px; }

  /* line 852, ../scss/style.scss */
  #payWay {
    top: 400px;
    left: 50%; } }

/*# sourceMappingURL=style.css.map */
