.cafeContainer{
    background-color: $whiteColour;
    padding: 10px;
    height: 100vh;
    max-width: 844px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    @media screen and (min-width: $mdWidth) {
      transform: translate(16%);
      max-width: 767px;
    }
}
.cardAlign{
  transform: translateX(10%);
}
.box{
    position: relative;
    width: calc(200px - 30px);
    height: calc(200px - 30px);
    background: $blackColour;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    &:active{
      background: $goldColour;
    }
    h1{
        color: $whiteColour;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
