* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.row {
  width: 100%; }
  .row:after {
    display: block;
    content: '';
    clear: both; }

.show {
  display: block; }

.hide {
  display: none; }

.col {
  float: left; }

.col1 {
  width: 8.3333333333%; }

.offset1 {
  margin-left: 8.3333333333%; }

.col2 {
  width: 16.6666666667%; }

.offset2 {
  margin-left: 16.6666666667%; }

.col3 {
  width: 25%; }

.offset3 {
  margin-left: 25%; }

.col4 {
  width: 33.3333333333%; }

.offset4 {
  margin-left: 33.3333333333%; }

.col5 {
  width: 41.6666666667%; }

.offset5 {
  margin-left: 41.6666666667%; }

.col6 {
  width: 50%; }

.offset6 {
  margin-left: 50%; }

.col7 {
  width: 58.3333333333%; }

.offset7 {
  margin-left: 58.3333333333%; }

.col8 {
  width: 66.6666666667%; }

.offset8 {
  margin-left: 66.6666666667%; }

.col9 {
  width: 75%; }

.offset9 {
  margin-left: 75%; }

.col10 {
  width: 83.3333333333%; }

.offset10 {
  margin-left: 83.3333333333%; }

.col11 {
  width: 91.6666666667%; }

.offset11 {
  margin-left: 91.6666666667%; }

.col12 {
  width: 100%; }

.offset12 {
  margin-left: 100%; }

@media (min-width: 710px) {
  .colM1 {
    width: 8.3333333333%; }

  .offsetM1 {
    margin-left: 8.3333333333%; }

  .colM2 {
    width: 16.6666666667%; }

  .offsetM2 {
    margin-left: 16.6666666667%; }

  .colM3 {
    width: 25%; }

  .offsetM3 {
    margin-left: 25%; }

  .colM4 {
    width: 33.3333333333%; }

  .offsetM4 {
    margin-left: 33.3333333333%; }

  .colM5 {
    width: 41.6666666667%; }

  .offsetM5 {
    margin-left: 41.6666666667%; }

  .colM6 {
    width: 50%; }

  .offsetM6 {
    margin-left: 50%; }

  .colM7 {
    width: 58.3333333333%; }

  .offsetM7 {
    margin-left: 58.3333333333%; }

  .colM8 {
    width: 66.6666666667%; }

  .offsetM8 {
    margin-left: 66.6666666667%; }

  .colM9 {
    width: 75%; }

  .offsetM9 {
    margin-left: 75%; }

  .colM10 {
    width: 83.3333333333%; }

  .offsetM10 {
    margin-left: 83.3333333333%; }

  .colM11 {
    width: 91.6666666667%; }

  .offsetM11 {
    margin-left: 91.6666666667%; }

  .colM12 {
    width: 100%; }

  .offsetM12 {
    margin-left: 100%; } }
@media (min-width: 1000px) {
  .colL1 {
    width: 8.3333333333%; }

  .offsetL1 {
    margin-left: 8.3333333333%; }

  .colL2 {
    width: 16.6666666667%; }

  .offsetL2 {
    margin-left: 16.6666666667%; }

  .colL3 {
    width: 25%; }

  .offsetL3 {
    margin-left: 25%; }

  .colL4 {
    width: 33.3333333333%; }

  .offsetL4 {
    margin-left: 33.3333333333%; }

  .colL5 {
    width: 41.6666666667%; }

  .offsetL5 {
    margin-left: 41.6666666667%; }

  .colL6 {
    width: 50%; }

  .offsetL6 {
    margin-left: 50%; }

  .colL7 {
    width: 58.3333333333%; }

  .offsetL7 {
    margin-left: 58.3333333333%; }

  .colL8 {
    width: 66.6666666667%; }

  .offsetL8 {
    margin-left: 66.6666666667%; }

  .colL9 {
    width: 75%; }

  .offsetL9 {
    margin-left: 75%; }

  .colL10 {
    width: 83.3333333333%; }

  .offsetL10 {
    margin-left: 83.3333333333%; }

  .colL11 {
    width: 91.6666666667%; }

  .offsetL11 {
    margin-left: 91.6666666667%; }

  .colL12 {
    width: 100%; }

  .offsetL12 {
    margin-left: 100%; } }
.cafeContainer {
  background-color: #eaeaea;
  padding: 10px;
  height: 100vh;
  overflow: hidden;
  text-align: center; }

.box {
  width: 100px;
  background-color: red; }

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh; }

:target {
  padding-top: 100px;
  position: relative; }

.landing .logo {
  height: 8vh;
  background-color: #231f20;
  color: #eaeaea;
  text-align: center;
  padding: 10px; }
  .landing .logo img {
    display: none;
    width: 100%; }
.landing .section {
  height: 21vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .landing .section a {
    text-decoration-line: none; }
  .landing .section h3 {
    color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 45px;
    text-shadow: 2px 2px #231f20;
    text-transform: uppercase;
    text-align: center; }
  .landing .section i {
    display: none; }
.landing .cafeSection {
  background-image: url("../img/coffee.jpg"); }
.landing .barSection {
  background-image: url("../img/bar.jpg"); }
.landing .roomSection {
  background-image: url("../img/room-service-pink.jpg"); }
.landing .restaurantSection {
  background-image: url("../img/resta.jpg"); }
.landing .tagLine {
  height: 8vh;
  background-color: #ad974f;
  color: white;
  text-align: center;
  padding: 10px;
  text-transform: uppercase; }

.headerBg {
  background-color: #231f20;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2; }

.header {
  margin: 0 auto;
  height: 50px; }
  .header .textLogoMobile a {
    text-decoration-line: none; }
  .header .textLogoMobile h1 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    color: #eaeaea;
    padding-top: 5px; }
  .header .billIcon a {
    text-decoration-line: none; }

.hamburgerNav, .billIcon {
  height: 50px;
  text-align: center;
  padding: 10px 0; }
  .hamburgerNav i, .billIcon i {
    font-size: 30px;
    color: #eaeaea; }

.hamburgerList {
  z-index: 20;
  display: none;
  position: fixed;
  top: 50px; }
  .hamburgerList ul li {
    background-color: #ad974f;
    padding: 10px; }
    .hamburgerList ul li a {
      text-decoration-line: none; }
      .hamburgerList ul li a .textNavList {
        font-size: 25px;
        font-weight: 300;
        color: #eaeaea;
        padding-left: 30px; }
      .hamburgerList ul li a i {
        display: none; }
  .hamburgerList ul::after {
    content: '';
    display: block;
    clear: both; }

.menuNav {
  padding: 0 5px;
  margin: 0 auto;
  background-color: #ad974f;
  height: 40px;
  position: fixed;
  top: 50px;
  z-index: 10; }
  .menuNav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 5px;
    width: 100%; }
    .menuNav ul li {
      float: left;
      list-style: none;
      margin: auto; }
      .menuNav ul li a {
        padding-top: 10px;
        font-size: 25px;
        font-weight: 300;
        color: #eaeaea;
        text-decoration-line: none; }
        .menuNav ul li a:active {
          font-weight: bold;
          text-shadow: 2px 2px 2px #000; }
    .menuNav ul::after {
      content: '';
      display: block;
      clear: both; }

.notice {
  width: 100%;
  background-color: #eaeaea;
  position: fixed;
  justify-content: space-around;
  top: 90px;
  display: flex;
  z-index: 3; }
  .notice h5 {
    font-weight: 200; }

.pageContainer {
  background-color: #eaeaea;
  margin-bottom: 30px;
  margin-top: 100px;
  padding: 10px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center; }
  .pageContainer .logoText {
    display: none; }
  .pageContainer h5 {
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15px; }
  .pageContainer .billBox {
    border-top: 2px dotted #231f20;
    border-bottom: 2px dotted #231f20;
    margin: 10px 0;
    padding: 10px 0; }
    .pageContainer .billBox .itemLine {
      margin: 8px 0; }
      .pageContainer .billBox .itemLine p {
        font-size: 20px; }
      .pageContainer .billBox .itemLine .itemName {
        text-align: left; }
  .pageContainer .total .subtotal, .pageContainer .total .subPrice {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400; }
  .pageContainer .total .subtotal h2 {
    text-align: left;
    padding-left: 10px; }
  .pageContainer .total .subPrice h2 {
    text-align: right;
    padding-right: 10px; }
  .pageContainer .btnGroup {
    display: flex;
    justify-content: space-around;
    margin-top: 100px; }
    .pageContainer .btnGroup .billBtn {
      width: 200px;
      background-color: #231f20;
      display: inline-block;
      cursor: pointer;
      color: #eaeaea;
      ffont-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: bold;
      padding: 5px 30px;
      text-decoration: none; }
      .pageContainer .btnGroup .billBtn a {
        text-decoration-line: none;
        color: #eaeaea; }
  .pageContainer .menuSort p {
    color: #231f20;
    font-family: cursive;
    font-size: 30px; }
  .pageContainer .menuInfo .selection {
    display: none; }
  .pageContainer .menuInfo .menuTitle h2 {
    font-weight: 400;
    padding-bottom: 10px; }
  .pageContainer .menuInfo .menuTitle h3 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; }
  .pageContainer .menuInfo .ingrediants {
    padding-bottom: 10px;
    padding-top: 5px; }
    .pageContainer .menuInfo .ingrediants h5 {
      text-align: left;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300; }
  .pageContainer i {
    font-size: 30px;
    margin-top: 15px; }

.footer {
  position: fixed;
  bottom: 0;
  background-color: #ad974f;
  height: 50px;
  width: 100%; }
  .footer h1 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: #eaeaea;
    padding-top: 5px; }
  .footer .footerBtn {
    color: #eaeaea;
    margin-top: 10px; }
  .footer .leftBtn {
    float: left;
    margin-left: 10px; }
  .footer .rightBtn {
    float: right;
    margin-right: 10px; }

.callWaiter {
  position: fixed;
  bottom: 0;
  background-color: #ad974f;
  height: 50px;
  width: 100%; }
  .callWaiter h2 {
    text-align: center;
    color: #eaeaea;
    margin-top: 5px;
    font-size: 30px;
    text-shadow: 1px 1px #231f20; }

.billBar {
  display: none; }

.billContainer {
  background-color: #eaeaea;
  padding: 10px;
  height: 100vh;
  overflow: hidden;
  text-align: center; }
  .billContainer .logoText {
    display: none; }
  .billContainer h5 {
    font-size: 15px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 10px; }
  .billContainer .billBox {
    border-top: 1px dotted #231f20;
    border-bottom: 1px dotted #231f20;
    padding-top: 30px;
    padding-bottom: 100px; }
    .billContainer .billBox .itemLine p {
      font-size: 20px;
      font-weight: 400;
      margin: 5px 0; }
    .billContainer .billBox .itemLine .itemName {
      text-align: left;
      padding-left: 10px; }
  .billContainer .total h2 {
    font-weight: 600; }
  .billContainer .total .left {
    float: left;
    padding: 10px; }
  .billContainer .total .right {
    float: right;
    padding: 10px; }
  .billContainer .splitTotal h2 {
    font-weight: 500; }
  .billContainer .splitTotal .left {
    float: left;
    padding: 10px; }
  .billContainer .splitTotal .right {
    float: right;
    padding: 10px; }
  .billContainer .btnGroup {
    display: flex;
    justify-content: center; }
    .billContainer .btnGroup .billBtn {
      width: 200px;
      background-color: #231f20;
      display: inline-block;
      font-family: 'Montserrat',sans-serif;
      font-size: 20px;
      font-weight: 400;
      padding: 10px; }
      .billContainer .btnGroup .billBtn a {
        text-decoration-line: none;
        color: #eaeaea; }
  .billContainer .borderline {
    border-top: 1px dotted #231f20;
    border-bottom: 1px dotted #231f20; }
  .billContainer .totalBox {
    padding: 10px 0; }
    .billContainer .totalBox .left {
      text-align: left;
      margin-left: 10px; }
    .billContainer .totalBox .right {
      text-align: right;
      margin-right: 10px; }
  .billContainer .payMethodBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px; }
    .billContainer .payMethodBtn .methodBtn {
      background: linear-gradient(#ad974f, #deb887, #ad974f);
      border-radius: 10px;
      width: 250px;
      height: 60px;
      margin: 10px 0;
      padding-top: 15px; }
      .billContainer .payMethodBtn .methodBtn a {
        text-decoration-line: none;
        color: #eaeaea;
        font-size: 25px;
        font-weight: 400;
        font-family: 'Montserrat',sans-serif;
        text-transform: uppercase;
        text-shadow: 2px 1px grey; }
      .billContainer .payMethodBtn .methodBtn:active {
        box-shadow: 2px 2px grey; }

#payWay {
  display: none;
  position: absolute;
  top: 250px;
  left: 15%;
  transform: rotateX(-50%);
  width: 100px; }
  @media screen and (min-width: 710px) {
    #payWay {
      top: 400px;
      left: 45%; } }
  #payWay .popupPay {
    background-color: #231f20;
    width: 300px;
    height: 150px; }
    #payWay .popupPay .split a {
      text-decoration-line: none; }
      #payWay .popupPay .split a input {
        margin-top: 20px;
        margin-left: 50px;
        background-color: #ad974f;
        width: 200px;
        height: 50px;
        color: #231f20;
        padding-top: 5px;
        font-size: 25px;
        font-weight: bold;
        text-align: center; }
    #payWay .popupPay .all input {
      margin-top: 10px;
      margin-bottom: 15px;
      margin-left: 50px;
      background-color: #ad974f;
      width: 200px;
      height: 50px;
      color: #231f20;
      padding-top: 5px;
      font-size: 25px;
      font-weight: bold;
      text-align: center; }

#tipBox {
  display: none;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%); }
  #tipBox .popupTip {
    background-color: #231f20;
    width: 300px;
    height: 150px; }
    #tipBox .popupTip p {
      font-size: 30px;
      padding-top: 20px;
      color: #eaeaea;
      text-align: center; }
    #tipBox .popupTip .dollar {
      margin-top: 10px;
      display: flex; }
      #tipBox .popupTip .dollar input {
        height: 40px;
        width: 150px;
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold; }
      #tipBox .popupTip .dollar .addBtn {
        margin-left: 30px;
        background-color: #ad974f;
        width: 70px;
        height: 40px;
        color: #231f20;
        padding-top: 5px;
        font-size: 25px;
        font-weight: bold;
        text-align: center; }

.item {
  position: relative; }
  .item .popup {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    bottom: 0; }
    .item .popup i {
      color: #ad974f; }
    @media screen and (min-width: 710px) {
      .item .popup {
        display: none !important; } }
  .item .weird {
    height: 60%; }

@media screen and (min-width: 710px) {
  body {
    background-image: url("../img/bg.jpg"); }

  .landing {
    max-width: 700px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center; }
    .landing .center {
      width: 80%;
      margin: auto; }
    .landing .logo {
      height: auto;
      padding: 0; }
      .landing .logo h1 {
        display: none; }
      .landing .logo img {
        display: block; }
    .landing .icons {
      padding-left: 5px; }
      .landing .icons .col {
        padding: 5px; }
        .landing .icons .col .section {
          border-radius: 10px; }
          .landing .icons .col .section i {
            font-size: 100px;
            color: #eaeaea; }
    .landing .section:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
    .landing .section {
      height: auto;
      width: 100%;
      background-image: none !important;
      background-color: #ad974f;
      justify-content: center; }
      .landing .section h3 {
        display: none; }
      .landing .section i {
        display: block; }
    .landing .tagLine {
      display: none; }

  .header {
    display: none; }

  .hamburgerList {
    width: 100px;
    height: 100%;
    top: 0;
    display: block;
    content: '';
    clear: both; }
    .hamburgerList ul {
      height: 100%; }
      .hamburgerList ul li {
        background-color: #231f20;
        height: 16.6666666667%;
        list-style: none; }
        .hamburgerList ul li a i {
          display: block;
          color: #eaeaea;
          font-size: 65px;
          text-align: center;
          padding-top: 50px; }
    .hamburgerList .textNavList {
      display: none; }

  .menuNav {
    top: 0;
    margin-left: 100px; }

  .notice {
    width: 75%;
    left: 100px;
    top: 40px; }

  .footer {
    width: 75%;
    margin-left: 100px;
    height: 40px; }

  .billBar {
    width: 100px;
    display: block;
    height: 100%;
    background-color: #ad974f;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4; }
    .billBar a {
      text-decoration-line: none; }
      .billBar a h2, .billBar a i {
        color: #eaeaea;
        width: 100vh;
        transform-origin: left;
        margin-top: -50%; }
      .billBar a h2 {
        font-family: cursive;
        font-size: 30px;
        transform: translate(50px, 45vh) rotate(90deg); }
      .billBar a i {
        font-size: 50px;
        transform: translate(50px, 35vh) rotate(90deg); }

  .pageContainer {
    margin-top: 50px;
    margin-left: 100px;
    height: 100vh;
    max-width: 75%; }
    .pageContainer h3 {
      font-size: 25px; }
    .pageContainer i {
      display: inline;
      font-size: 25px;
      color: #ad974f;
      float: right;
      padding: 0 5px; }
    .pageContainer .menuInfo .selection {
      display: block; }

  .billContainer {
    overflow-y: scroll;
    margin-left: 100px;
    height: 100vh;
    max-width: 75%;
    padding: 0 40px; }
    .billContainer .logoText {
      display: block;
      padding-top: 100px;
      color: #231f20; }
    .billContainer .billBox .itemLine p {
      font-size: 25px;
      font-weight: 300; }

  #tipBox {
    top: 400px; }

  #payWay {
    top: 400px;
    left: 45%; }

  .callWaiter {
    display: none; } }
@media screen and (min-width: 1000px) {
  .landing {
    max-width: 930px; }

  .menuNav, .footer, .pageContainer {
    margin-left: 120px; }

  .notice {
    left: 120px; }

  .hamburgerList ul li a i {
    padding-top: 30px; }

  #payWay {
    top: 400px;
    left: 50%; } }

/*# sourceMappingURL=style.css.map */
